<% layout("/layouts/boilerplate") %>
<div class="landing">
    <h2 class="salud">
        Salud from <span>Nomanca!</span>
    </h2>
    <br>
    <form action="/listings" method="get">
        <button class="btn btn-dark explore-btn">Explore</button>
    </form>
</div>